<div class="container">
  <div style="text-align:center" class="jumbotron">
    <h1>{{title}}</h1>
  </div>
  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <button type="button" routerLink="listarCursos" class="btn nav-item nav-link active" id="nav-home-tab" routerLinkActive="active">Cursos</button>
      <!--<button type="button" routerLink="listarUsuarios" class="btn nav-item nav-link " id="nav-profile-tab" routerLinkActive="active">Listar Usuarios</button>-->
    </div>
  </nav>
</div>

<router-outlet></router-outlet>
